footer {
  background-color: $navy-blue;

  p{
    color: white;
    text-align: center;
    a {
      text-decoration: none;
      color: $baby-blue;
      transition-duration: 0.5s;
    }

    a:hover,
    a:focus {
      color: $cherry-red;
    }
  }
}
