footer {
  background-color: $navy-blue;

  p{
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;

    a {
      text-decoration: none;
      color: $baby-blue;
      transition-duration: 0.5s;
    }

    a:hover,
    a:focus {
      color: $cherry-red;
    }
  }
}
