body {
  background-color: $navy-blue;
}

header {
  background-color: $navy-blue;
  margin: 0;
  
  a {
    text-decoration: none;
    .title{
      font-weight: 400;
      font-size: 6.4rem;
      color: white;
      text-align: center;
    }
  }
}

